<div class="footer">
    <img class="favicon" src="../../assets/favicon@2x.png"/>
    <h4 class="header">Contact Us</h4>
    <p>support&#64;nextmovies.com<br>Mon – Fri | 6:00am – 5:00 pm PT</p>
    <div class="social-media">
        <img class="facebook-icon" src="../../../assets/facebook-share-icon.png">
        <img class="linkedin-icon" src="../../../assets/linkedin-share-icon.png">
        <img class="twitter-icon" src="../../../assets/twitter-share-icon.png">
        <img class="instagram-icon" src="../../../assets/instagram-share-icon.png">
        <img class="youtube-icon" src="../../../assets/youtube-share-icon.png">
    </div>
</div>
