.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #000000c4 0% 0% no-repeat padding-box;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin: 15% auto;
  width: 80%;
  height: fit-content;
  flex-direction: column;
  padding: 18px 19px 22px 19px;
}

.movie-img {
  width: 256px;
  height: 380px;
}

.text-content {
  position: relative;
  flex-direction: column;
  width: 256px;
}

p {
  text-align: left;
  color: #000000;
  letter-spacing: 0px;
  margin: 0;
}

.title {
  font: normal normal bold 30px/31px Arial;
  text-transform: uppercase;
  margin: 6px 0 7px 0;
}

.duration {
  text-align: left;
  font: normal normal normal 20px/31px Arial;
  letter-spacing: -0.4px;
  text-transform: lowercase;
  margin-bottom: 8px;
}

.rating {
  font: normal normal normal 18px/19px Arial;
  text-transform: capitalize;
  margin-bottom: 22px;
  display: inline-flex;
  align-items: center;
}

.synopsis {
  font: normal normal normal 16px/17px Georgia;
  letter-spacing: -0.32px;
  text-transform: lowercase;
  margin-bottom: 23px;
  height: fit-content;
  max-width: 252px;
}

.back {
  border: 1px solid #000000;
  border-radius: 100px;
  display: flex;
  align-items: center;
  width: 260px;
  height: 36px;
  cursor: pointer;
}

.back-text {
  margin: 0;
  padding: 14px 20px 14px 0px;
  font: normal normal normal 12px/12px Arial;
  margin-left: auto;
  text-align: right;
}

.arrow-left-img {
  width: 22px;
  height: 12px;
  padding-left: 16px;
}

@media screen and (min-width: 768px) {
  .movie-img {
    width: 398px;
    height: 591px;
    margin: 0 50px 0 50px;
  }

  .modal-content {
    justify-content: space-evenly;
    flex-direction: row;
    padding: 50px 50px 50px 50px;
  }

  .col1 {
    flex: 1;
  }

  .text-content {
    flex: 2;
    height: 591px;
  }

  .back {
    height: 42px;
    position: absolute;
    bottom: 0px;
  }

  .back-text {
    font: normal normal normal 14px/14px Arial;
  }

  .arrow-left-img {
    width: 25px;
    height: 14px;
    padding-left: 18px;
  }

  .title {
    font: normal normal bold 31px/45px Arial;
    margin: 0px 0 10px 0;
  }

  .duration {
    font: normal normal normal 25px/31px Arial;
    letter-spacing: -0.5px;
    margin-bottom: 19px;
  }

  .rating {
    font: normal normal normal 25px/21px Arial;
    margin-bottom: 28px;
  }

  .synopsis {
    font: normal normal normal 30px/31px Georgia;
    letter-spacing: -0.6px;
    margin-bottom: 10px;
    max-width: 90%;
  }
}
